
//Fontes 
$fonte: 'Roboto', sans-serif;

// Cores

$primary-color: #76BA99;
$secundary-color: #CA955C;
$bg-color: #EDDFB3;
$text-color: #876445;

//TAMANHO DAS FONTES
$tamanho-do-texto: 3rem;